// root
:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-background: #20587a;
  --body-color: rgb(64, 66, 75);
}
//==========
// base code for reset css
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--body-color);
  background: var(--background);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  letter-spacing: 0.5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: rgb(23, 43, 77);
  text-decoration: none;
}

//==========
// all my default
.d-none {
  display: none !important;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

// ==========
// all buttons
button {
  border: medium;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

// button cnb

